body {
    background-color: black ;
    color: aqua;
    margin: auto;
    width: 800px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(234, 0, 0);
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
}


th,
td {
  border: 1px solid rgb(248, 0, 0);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}
